beautifulsoup4==4.9.0
chardet==3.0.4
clize==4.1.1
colorama==0.4.3
delegator.py==0.1.1
fake_useragent==0.1.11
grequests==0.6.0
logbook==1.5.3
lxml==4.5.0
pyfancy==2.4.5
pyfiglet==0.8.post1
pyperclip==1.8.0
regex==2020.4.4
sorcery==0.2.1
termcolor
